/* adjust typography defaults */
body {
  font-family: sans-serif;
  background: linear-gradient(45deg, rgba(131,58,180,1) 50%, rgba(225,253,29,1) 50%);
  background-repeat: no-repeat;
  background-size: cover;
  
}
nav{
  display: inline-block;
  float: none;
  border: 3px solid yellow;
  height: 100%;
  width: 100%;
  background-color: blue;
  padding-left: 5px
}
.titulo{
  text-align: center;
}
a{
  text-decoration:none
}
.des {
  color: white;
  font-size:12px;
  border: solid darkgreen 2px;
  background-color:darkgreen;
  text-decoration: none;
}
.logo{
  float: center;
  
}
.produto{
  height:250px;
  width:150px;
  display:inline-block;
  color: white;
}
.foto {
  height: 150px;
  width: 120px
}
li{
  list-style-type: none;
  
}
ul{
  line-height:0.2;
  border: solid yellow;
}
.lista{
  Background-color:orange;
  line-height: 0.5;
  width:49%;
  white-space: nowrap;
}
.lis{
  line-height:50px;
  background-color:orange;
  border: solid 2px yellow;
  width:100%;
  padding-left:10px;
}
.lista2{
 Background-color:orange;
  line-height: 0.5;
  width:47%;
  float:right;
  padding-right:10px;
  white-space: nowrap;
}
.lisa{
  margin:auto;
  float:right;
  width:30%;
  padding-right:25px;
  text-align:right;
}
.lisc{
 text-align:center;
  width:36%;
}
.lisd{
  width:30%;
  float:left;
}

.l{
  display:inline-block;
}
.f{
  display:inline-block;
}
.r{
  border: solid 2px orange;
  height:110px;
  width:100px;
  line-height:1.5;
  padding-left:5px;
  float:center;
}
.rdp{
  background-color: grey;
  color:white;
  width:100%;
}
.ic{
  height:20px;
  width:20px;
}
.d{
  width:900px;
  height:100px;
  line-height:1.5;
  padding-left:5px;
  float:center;
  padding-top:5px;
}
.n{
  display:inline-block;
}
tr,th{
  border:solid black 2px;
}
table{
  border-collapse: collapse;
  width:50%;
  margin:auto;
  align-self: center;
  background-color: brown;
  border:solid black 2px;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 200px;
  border: solid black 2px;
  background-color: grey;
  padding: 10px;
}
.botao, .produtos, .total {
  flex: 1;
  margin: 0 10px;
  text-align: center;
  border: solid black 2px;
  background-color: white;
  border-radius: 2px;
}
button{
  width: 100%;
  height: 100%;
  background-color: green;
  color: white;
  font-size: 20px;
}
input{
  width: 100%;
  height: 100%;
  font-size: 20px;
}